
.input_container{
    position: relative;
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 100%;
}
.inputtext{
    height: 36px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 35px;
}
.input_img{
    position: absolute;
    width: 15px;
    height: 15px;
    padding: 12px;
}