.form_bg{
    background-image: url("../../../img/bg.jpg");
    width: 100%;
    height: 350px;
    display: block;
}
.head_form{
    width: 100%;
    text-align: center;
padding-top: 60px;
}
.formular{
    height: 100px;
    margin-left:30%;
}
.formular a{
    font-size: 0.8rem;
    text-align: left;
}
.floating{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.text{
    text-align: left;
}
