.linksammlung{
    display: flex;
    align-items: left;
    justify-content: center;
    margin-bottom: 100px;

}
.linksammlung>div{
    margin: 5px;
}
.linksammlung a{
    font-size: 1rem;
    color: #4088ee;
    background-color: #ffffff;
    text-decoration: none;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
.linksammlung a:hover{
    color: #0c2577;
    border: 1px solid #000;
}